*{margin: 0;
padding: 0;
box-sizing: border-box;}

html,body{width: 100%;
height: 100%;
}
main{
background-color: aquamarine;
width: 100%;
height: 100%;
}
#one , .t{
    margin: 40px;
}
#one{
    position: absolute;
    background-color: blue;
    width: 50%;
    height: 30%;
}
.two{
    background-color: blueviolet;
    width: 30%;
    height: 40%;
    position: relative;
}
.t{
    width: 40%;
    height: 50%;
    background-color: cadetblue;

}

/* justify content used for width and align items for height of flex and declaring display :flex to the main parent class */

.box{
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 70%;
    background-color: cornsilk;
    display: flex;
}

.box1 {
    
    width: 30%;
    height: 30%;
    background-color: rgb(14, 76, 92);
}
.box2 {
    width: 30%;
    height: 30%;
    background-color: rgb(182, 37, 92);
}
.box3 {
    width: 30%;
    height: 30%;
    background-color: rgb(194, 77, 9);
}