*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
    color: white;
}

html,body{
    width: 100%;
    height: 100%;
    /* perspective: 800px; */
}

#cursor{
    position: fixed;
    z-index: 99;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #95C11E;
}
#cursor-blur{
    height: 300px;
    width: 300px;
    position: fixed;
    filter: blur(80px);
    z-index: 9;
    
    border-radius: 50%;
    background-color: #95C11E;
}
#nav{
    height: 140px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 150px;
    gap: 40px;
    justify-content: flex-start;
    position: fixed;
    z-index: 20;
}

#nav img{
    height: 70px;
}
#nav h4{
    text-transform: uppercase;
}
video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -2;
}

#main{
   position: relative;
   background-color: rgba(0, 0, 0, 0.432);
}
#page1{
    height: 100vh;
    width: 100%;
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
    color: red;
    z-index: 10;
    text-align: center;
}
#page1 h1{
    font-size: 120px;
    font-weight: 900;
    position: relative;
} 
#page1 h2{
    font-size: 33px;
    margin: 20px 0;

}
#page1 p{
    width: 40%;
    font-size: 18px;
}
#page1 h1::before{
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    color: black;
    top: -5px;
    left: -5px;
    -webkit-text-stroke:1px rgb(222, 255, 34);
    z-index: -1;
}

#page1 #arrow{
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: transparent;
    left: -3%;
    bottom: 0%;
    border-radius: 50%;
    border:4px solid #95C11E;
    scale: 1;
    transition: all ease 0.6s;

}
.ri-arrow-down-line{
    font-size: 50px;
}

#page1 #arrow:hover {
    background-color: #95C11E;
    scale: 0.4;
    transition: all ease 1s;

}


#page2{
    min-height: 100vh;
    width: 100%;
    z-index: 10;
   

}

#scroller{
    display: inline-block;
    white-space:nowrap;
   
   
    position: relative;
    z-index: 10;
}
#scroller::-webkit-scrollbar{
    display: none;
}
#scroller-in{
    display: inline-block;
    white-space:nowrap;
   
    animation-name: scroll;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


#scroller h4 {
    display: inline-block;
    font-size: 100px;
    font-weight: bolder;
    margin-right: 10px;
    transition: all linear 0.5s;
    
    color: black;
    -webkit-text-stroke: 2px white;

}
#scroller h4:hover{
    color: rgb(111, 207, 32);
    -webkit-text-stroke: 0.1px rgb(111, 207, 32);
}

@keyframes scroll{
    from{
transform: translateX(0);
    }
    to{
transform: translateX(-100%);
    }
}

#about-us{
    display: flex;
    justify-content: space-around;
    align-items: center;
position: relative;
z-index: 10;
    padding: 0 30px;
    height: 100vh;
    width: 100%;
   
}

#about-us #about-img1, #about-img2 {
    border-radius: 10%;
 object-fit: cover;
    width: 170px;
    height: 170px;
}

#about-text {
   height: 40vh;
   width: 50%;
text-align: center;
word-spacing: 6px;

}
#about-text #about-title{
    font-size: 50px;
    padding-bottom: 30px;
    font-weight: 700;
}
#about-text #about-subtitle{
    font-size: 12px;
    margin-bottom: 70px;
    font-weight: 100;
    line-height: 27px;
}

#cards-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 70px;
    position: relative;
    z-index: 9;
}

.card{
    width: 22%;
    height: 80%;  
    border-radius: 30px;
    background-position: center;
   background-size: cover;
   overflow: hidden;
   transition: all ease 0.5s;
}
#card1{
    background-image: url("https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/hero-4.jpg?strip=all&lossy=1&sharp=1&fit=1024%2C1024&ssl=1");
}
#card2{
    background-image: url("https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer.jpg?strip=all&lossy=1&sharp=1&fit=1024%2C682&ssl=1");
}
#card3{
    background-image: url("https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-lessons.jpg?strip=all&lossy=1&sharp=1&fit=1024%2C682&ssl=1");
}

.overlay{
    height: 100%;
    width: 100%;
    border-radius: 30px;    
    padding: 20px;
     padding-top: 130px;
    background-color: rgb(111, 207, 32);
    opacity: 0;
    transition: all ease 0.4s;
}
.overlay h4{
  text-transform: uppercase;
  white-space: nowrap;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 20px;
    color: black;
}
.overlay p{
    color: black;
}
.card:hover .overlay{
    opacity: 1;
}
.card:hover{
    transform: rotate3d(-1,1,0,20deg);
}

#green-div{
    width: 100%;
    height: 25vh;
  
    position: relative;
    display: flex;
    align-items: center;
  justify-content: space-between;
  background:linear-gradient(to right top,#AADD22,#2BA634);

}
#green-div img{
    height: 100%;
    width: 12%;
    object-fit: cover;
    padding: 0 20px;
}
#green-div #paragraph{
    font-size: 30px;
    width: 50%;
    line-height: 50px;
    font-weight: 800;
    text-align: center;
    color: black;
}

#page3{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
position: relative;
   

}
#page3>p{
        font-size: 35px;
        width: 60%;
        text-align: center;
        font-weight: 700;
}
#page3>img{
    width: 70px;
    height: 70px;
    position: absolute;
}
#page3>#colon1{
    left: 15%;
    top: 25%;
}
#page3>#colon2{
    right: 15%;
    bottom: 30%;
}

#page4{
    height: 40vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 40px;
    padding-bottom: 70px;
  position: relative;
}
 .elem{
    width: 26%;
    height: 70%;
    overflow: hidden;
    position: relative;
    border-radius:12px ;
  
}
.elem h2{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: black;
    font-weight: 800;
    position: absolute;
    z-index: 10;
    background-color: #9CCA24;  
    transition: all ease 0.4s;
}
.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius:12px ;
    scale: 1.1;
    transition: all ease 0.4s;
}
.elem:hover h2{
    color: white;
    background-color: transparent;
  
}
.elem:hover img{
    color: white;
    background-color: transparent;
    scale: 1;
}
#page4 h1{
   position: absolute;
    color: transparent;
   -webkit-text-stroke:1px white ;
   top: -26%;
   font-size: 100px;
}

#footer{
    height: 40vh;
    width: 100%;
    background:linear-gradient(to right top,#AADD22,#2BA634) ;
    padding-top: 30px;
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}
#footer #back-img{
  height: 80%;
    position: absolute;
    left: 0%;
    opacity: 80%;

}
#footer #logo{
    width: 120px;
    height: 120px;
    left: 0%;
    margin-left: 30px;
   
}
#footer .tagger  {
    /* width: 70%;
    height: 50%; */
width: fit-content;

position: relative;
}
#footer .tag{
    font-size: 20px;
    font-weight: 900;
    white-space: nowrap;
    color: black;
    margin-bottom: 8px;
}
